.exchanges{
    
    padding-top: 2rem;
    >.card{
        transition: 0.3s ease-in-out;
        &:hover{
            box-shadow: 10px 15px 10px -3px rgba(0,0,0,0.41);
            transform: translateY(-5px);
            cursor: pointer;
        }
    }
}